* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 16px;
}
img {
	position: absolute;
	top: 0px;
	left: 420px;
	z-index: 2;
	opacity: 0.4;
}
.avatar {
	width: 500px;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.hair1 {
	height: 7px;
	width: 32%;
	background-color: #2b2b2b;
	position: absolute;
	top: 0px;
	left: 98px;
	z-index: 1;
}
.hair2 {
	height: 12px;
	width: 36%;
	background-color: #2b2b2b;
	position: absolute;
	top: 7px;
	left: 88px;
	z-index: 1;
}
.hair3 {
	height: 20px;
	width: 40%;
	background-color: #2b2b2b;
	position: absolute;
	top: 19px;
	left: 79px;
	z-index: 1;
}
.hair4 {
	height: 119px;
	width: 40%;
	background-color: #2b2b2b;
	position: absolute;
	top: 39px;
	left: 79px;
	z-index: 1;
}
.hair5 {
	height: 119px;
	width: 44%;
	background-color: #2b2b2b;
	position: absolute;
	top: 39px;
	left: 69px;
	z-index: 1;
}
.head1 {
	height: 205px;
	width: 36%;
	background-color: #E8B37B;
	position: absolute;
	top: 75px;
	left: 88px;
	z-index: 1;
}
.head2 {
	height: 19px;
	width: 99px;
	background-color: #E8B37B;
	position: absolute;
	top: 56px;
	left: 154px;
	z-index: 1;
}
.neck {
	height: 60px;
	width: 119px;
	background-color: #E8B37B;
	position: absolute;
	top: 280px;
	left: 119px;
	z-index: 1;
}
.ear1 {
	height: 60px;
	width: 30px;
	background-color: #e8b37b;
	position: absolute;
	top: 158px;
	left: 58px;
	z-index: 1;
}
.ear2 {
	height: 60px;
	width: 30px;
	background-color: #e8b37b;
	position: absolute;
	top: 158px;
	left: 268px;
	z-index: 1;
}
.eyebrow1 {
	height: 5px;
	width: 70px;
	background-color: #2b2b2b;
	position: absolute;
	top: 131px;
	left: 107px;
	z-index: 1;
}
.eyebrow2 {
	height: 5px;
	width: 70px;
	background-color: #2b2b2b;
	position: absolute;
	top: 131px;
	left: 184px;
	z-index: 1;
}
.eyeball1 {
	height: 40px;
	width: 70px;
	background-color: #FFFFFF;
	position: absolute;
	top: 138px;
	left: 107px;
	z-index: 1;
}
.eyeball2 {
	height: 40px;
	width: 70px;
	background-color: #FFFFFF;
	position: absolute;
	top: 138px;
	left: 184px;
	z-index: 1;
}
.eyeball_shadow1 {
	height: 5px;
	width: 70px;
	background-color: #f8f8f8;
	position: absolute;
	top: 173px;
	left: 107px;
	z-index: 1;
}
.eyeball_shadow2 {
	height: 5px;
	width: 70px;
	background-color: #f8f8f8;
	position: absolute;
	top: 173px;
	left: 184px;
	z-index: 1;
}
.pupil1 {
	height: 30px;
	width: 30px;
	background-color: #34210b;
	position: absolute;
	top: 143px;
	left: 127px;
	z-index: 1;
}
.pupil1_definition {
	height: 10px;
	width: 10px;
	background-color: #FFFFFF;
	position: absolute;
	top: 143px;
	left: 127px;
	z-index: 1;
}
.pupil2 {
	height: 29px;
	width: 30px;
	background-color: #34210b;
	position: absolute;
	top: 144px;
	left: 202px;
	z-index: 1;
}
.pupil2_definition {
	height: 10px;
	width: 10px;
	background-color: #FFFFFF;
	position: absolute;
	top: 144px;
	left: 202px;
	z-index: 1;
}
.mouth1 {
	height: 20px;
	width: 120px;
	background-color: #FFFFFF;
	position: absolute;
	top: 217px;
	left: 121px;
	z-index: 1;
}
.mouth2 {
	height: 10px;
	width: 97px;
	background-color: #FFFFFF;
	position: absolute;
	top: 237px;
	left: 132px;
	z-index: 1;
}
.mouth_shadow {
	height: 7px;
	width: 120px;
	background-color: #F8F8F8;
	position: absolute;
	top: 217px;
	left: 121px;
	z-index: 1;
}
.clothes1 {
	height: 20px;
	width: 157px;
	background-color: #9e0b0f;
	position: absolute;
	top: 320px;
	left: 100px;
	z-index: 1;
}
.clothes2 {
	height: 20px;
	width: 178px;
	background-color: #9e0b0f;
	position: absolute;
	top: 340px;
	left: 89px;
	z-index: 1;
}
.clothes3 {
	height: 36px;
	width: 360px;
	background-color: #9e0b0f;
	position: absolute;
	top: 360px;
	left: 0px;
	z-index: 1;
}
.clothes_shadow {
	height: 5px;
	width: 360px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 391px;
	left: 0px;
	z-index: 1;
}